@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to right,
                #E0F2FE 55%,
                rgba(66, 159, 221, 0.8) 35%)
         
}


/** ===| Coming Soon page css start |=== **/
.coming-soon-page .site-logo img{
    width: 215px;
}
.left-side-content{
    height: full;
}
.left-side-content .logo-socialLogo{
    padding-top: 44px;
    padding-bottom: 115px;
}
.left-side-content .social-link{
    margin-top: 220px;
}
.left-side-content .social-link ul li{
    margin-bottom: 24px;
}
.left-side-content .social-link ul li a img{
    width: 24px;
    height: 24px;
}
.left-side-content .horizontal-border1{
    height: 121px;
    width: .5px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 11px;

}
.left-side-content .follow-text{
    position: relative;
}
.left-side-content .follow-text p{
    transform: rotate(-90deg);
    position: absolute;
    left: -25px;
    top: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.015em;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.7);
}
.left-side-content .triangle-left-border{
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    height: full;
}
.left-side-content .triangle-middle-border {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    top: 200px;
    left: -40%;
    height: calc(100% - 200px);
    width: .5px;
    
}
.left-side-content .triangle-content{
    background-image: url(../images/triangles.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 480px;
    margin-top: 100%;
    padding-top: 115px;
    margin-right: -70px;

}
.left-side-content .triangle-content h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 42px;
    text-transform: capitalize;
    margin-left: 45px;
    color: #ffffff;
}
.left-side-content .triangle-content p {
    font-size: 19px;
    margin-left: 45px;
    color: #ffffff;
}

.coming-soon-page .doctor-img{
    padding: 80px 0;
}
.coming-soon-page .doctor-img .img-content{
    position: relative;
    text-align: center;
}
.coming-soon-page .doctor-img .square-img1{
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}
.coming-soon-page .doctor-img .square-img2{
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;
}
.coming-soon-page .doctor-img .square-img1 img{
    width: 148px;
    height: 160px;
}
.coming-soon-page .doctor-img .square-img2 img{
    width: 148px;
    height: 160px;
}
.coming-soon-page .doctor-img img{
    width: 100%;
    opacity: 1;
}
/** ===| Coming Soon page css end |=== **/
